<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	
  <connectionStrings>

	<!--TEST-->
	  <add name="connectionRCFAPRD" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = gpiptcciod-scan.graphicpkg.pri)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = GPCIOD02.graphicpkg.pri)(SERVER = DEDICATED)));PASSWORD=relad123#;PERSIST SECURITY INFO=True;USER ID=RELADMIN;Unicode=true" providerName="System.Data.OracleClient" />

	  <!--PRODUCTION-->
	 <add name="connectionRCFAPRD1" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = gpiptcciop-scan.graphicpkg.pri)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = GPCIOP02.graphicpkg.pri)(SERVER = DEDICATED)));PASSWORD=relap123#;PERSIST SECURITY INFO=True;USER ID=RELADMIN;Unicode=true" providerName="System.Data.OracleClient" />
      
	  <add name="MTTEmail.My.MySettings.ConnectionString" connectionString="DATA SOURCE=RCFAPRD_GPKP11;PASSWORD=reladmin1;USER ID=RELADMIN" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>	
	
</configuration>